<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
">
    <bean id="waiter" class="com.passerbywhu.waiter.NaiveWaiter"/>
    <bean id="advice" class="com.passerbywhu.introduction.ControllablePerformanceMonitor"/>
    <bean id="monitorableWaiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interfaces="com.passerbywhu.introduction.Monitorable"
          p:target-ref="waiter"
          p:interceptorNames="advice"
          p:proxyTargetClass="true"/>
    <bean id="introductionAdvisor" class="org.springframework.aop.support.DefaultIntroductionAdvisor">
        <constructor-arg>
            <ref bean="advice"/>
        </constructor-arg>
    </bean>
    <bean id="monitorableWaiter2" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="introductionAdvisor"
          p:target-ref="waiter"
          p:proxyTargetClass="true"/>

</beans>