<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-4.0.xsd
"
>
    <util:map id="customEditorConfigurer">
        <entry key="com.passerbywhu.editor.Car" value="com.passerbywhu.editor.CustomCarEditor"/>
    </util:map>
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer"
          p:customEditors-ref="customEditorConfigurer"
    >
    </bean>
    <bean id="boss" class="com.passerbywhu.editor.Boss"
          p:name="John"
          p:car="Benz,200,20000"/>
</beans>