<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
>
    <bean id="beforeAdvice" class="com.passerbywhu.advice.BeforeAdvice"/>
    <bean id="afterAdvice" class="com.passerbywhu.advice.AfterAdvice"/>
    <bean id="naiveWaiter" class="com.passerbywhu.waiter.NaiveWaiter"/>
    <bean id="augmentWaiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:optimize="true"
          p:target-ref="naiveWaiter"
          p:proxyInterfaces="com.passerbywhu.waiter.Waiter"
          p:interceptorNames="beforeAdvice, afterAdvice"/>
</beans>