<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.passerbywhu.innercall" resource-pattern="*.*"/>

    <bean id="man" class="com.passerbywhu.innercall.Man"/>

    <bean id="beforeAdvice" class="com.passerbywhu.advice.BeforeAdvice"/>
    <bean id="afterAdvice" class="com.passerbywhu.advice.AfterAdvice"/>

    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator"
          p:interceptorNames="afterAdvice"
          p:beanNames="man"
          p:proxyTargetClass="true"
    />

    <bean id="wearAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor"
          p:pattern=".*wear.*"
          p:advice-ref="beforeAdvice"
    />

    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          p:proxyTargetClass="true"
    />
</beans>